{% extends 'base.html' %}

{% block content %}
  {% include 'classroom/students/_header.html' with active='taken' %}
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Quiz</th>
          <th>Subject</th>
          <th>Score</th>
          <th>Option</th>
        </tr>
      </thead>
      <tbody>
        {% for taken_quiz in taken_quizzes %}
          <tr>
            <td class="{% if taken_quiz.quiz.use_katex %}use_katex{% endif %}">{{ taken_quiz.quiz.name }}</td>
            <td>{{ taken_quiz.quiz.subject.get_html_badge }}</td>
            <td>{{ taken_quiz.score }}</td>
            <td>
              {% if taken_quiz.quiz.can_redo %}
                <a href="{% url 'students:taken_quiz_clear' taken_quiz.pk %}"><span class='badge badge-danger'>Reset</span></a>
              {% endif %}
              {% if taken_quiz.quiz.can_see_correction %}
                <a href="{% url 'students:quiz_correction' taken_quiz.pk %}"><span class='badge badge-help'>See correction</span></a>
              {% endif %}
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="3">You haven't completed any quiz yet.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
